.center-input {
	margin: 0px auto;
	width: 775px;
	padding-bottom: 15px;
}

body {
  background: url("images/bg.jpg") repeat scroll left top #fff;
  color: #333;
  font-family: times new roman;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}
*{margin:0px;padding:0px}
#wrapper {
  margin: 30px auto;
  width: 1198px;
}
.colum-item {
  border: 1px solid #cdcdcd;
  float: left;
  margin-right: 7px;
  min-height: 261px;
  width: 24%;
}
.clearFix{
    clear: both;
}
.colum-item li {
  list-style: inside;
  padding-left: 18px;
}
.colum-item h1 {
  background: none repeat scroll 0 0 #01a5e2;
  color: white;
  font-size: 24px;
  padding: 4px 0;
  text-align: center;
}
.header {
  margin-top: 25px;
}

.colum-item ol {
  margin-top: 15px;
}

.list-release {
  border: 2px solid #3399ff;
  margin-top: 27px;
  padding: 4px 15px;
}
.list-release li {
  list-style: outside none none;
}
.list-release h1 {
  color: gray;
}
a {
    text-decoration: none;
    outline: none;
    color: #004F8B;
}
a:hover{
    color: orange;
}
.hide_item p, .hide_item ol{
    display: none;
}
.hide_item{
    background: #deecf9;
}
.list-release:hover {
  background: none repeat scroll 0 0 #deecf9;
  cursor: pointer;
}
.tn-box-color-1 {
  background: none repeat scroll 0 0 #ffe691;
  border: 1px solid #f6db7b;
}
.tn-box {
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  cursor: default;
  margin: 0 auto 20px;
  padding: 14px;
  position: relative;
  text-align: left;
  width: 914px;
}
.tn-box p:before {
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1);
  content: "i";
  font-size: 30px;
  height: 30px;
  left: 20px;
  line-height: 30px;
  margin-top: -17px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  top: 50%;
  width: 30px;
}
.tn-box-color-1 p {
  color: #7d5912;
}
.tn-box p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0 10px 0 60px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}
.tn-box .tn-progress {
  animation: 4s linear 0.5s normal forwards 1 running runProgress;
}
.tn-progress {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  bottom: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 -1px 0 rgba(255, 255, 255, 0.6);
  height: 4px;
  left: 2%;
  position: absolute;
  width: 0;
}  

.tn-box-color-2 {
  background: none repeat scroll 0 0 #99ffb1;
  border: 1px solid #7ce294;
}
.tn-box-color-2 p {
  color: #2d8241;
}
.tn-box-color-3 {
  background: none repeat scroll 0 0 #dd9aff;
  border: 1px solid #b367db;
}
.tn-box-color-3 p {
  color: #69288b;
}
.team-member .colum-item > p {
  color: #2d4f95;
  font-size: 14px;
  margin-left: 7px;
  margin-top: 4px;
  text-align: left;
}
.team-member .colum-item > h1 {
  font-size: 15px;
  margin-bottom: 16px;
}
.clear{
    clear:both;
}
.team-member .colum-item {
  border: 1px solid #cdcdcd;
  float: left;
  margin-right: 7px;
  min-height: 145px;
  width: 13.4%;
}
.team-member .colum-item:nth-child(1) > h1 {
  background: none repeat scroll 0 0 #166cec;
}
.team-member .colum-item:nth-child(2) > h1 {
  background: none repeat scroll 0 0 #d4402b;
}
.team-member .colum-item:nth-child(3) > h1 {
  background: none repeat scroll 0 0 #ffb508;
}

.team-member .colum-item:nth-child(4) > h1 {
  background: none repeat scroll 0 0 #2173f0;
}

.team-member .colum-item:nth-child(5) > h1 {
  background: none repeat scroll 0 0 #009b58;
}
.team-member .colum-item:nth-child(6) > h1 {
  background: none repeat scroll 0 0 #d84833;
}
.team-member .colum-item:nth-child(7) > h1 {
  background: none repeat scroll 0 0 #777777;
}
.blue {
    background-color: #2173f0 !important;
}
.green {
    background-color: #009b58 !important;
}
.red {
    background-color: #d84833 !important;
}
.yellow {
    background-color: #ffb508 !important;
}
.grey {
    background-color: #777777 !important;
}